h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 50px;
}
span{
    color:orange;
}
.visit{
    padding: 10px;
    border-radius: 12px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    background-color: rgba(255, 166, 0, 0.911)
    
}
.khadok{
    display: flex;
    padding-left: 10%;
    background-image: url(food/Frame\ 58.jpg);
    background-repeat: no-repeat; 
    background-position:right ;  
}
.pizza{
    width: 50%;
}
.width{
    width: 100%;
    padding-right: 50px;
}
.burger{
    margin-bottom: 40px;
}
